label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

table.dataTable {
  width: 90%;
  margin: 0 auto;
  border-spacing: 0;
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
  cursor: n-resize;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 10px;
  text-align: center;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 1px solid #ddd;
}

/* table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: #f6f6f6;
} */

table.dataTable.no-footer {
  border-bottom: 1px solid #111;
}

.dataTablesWrapper {
  display: flex;
  justify-content: space-around;
}

.dataTables_filter input {
  margin-left: 0.5em;
}

.dataTables_info {
  padding-top: 0.755em;
}

.dataTables_paginate {
  padding-top: 0.25em;
}

.dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 2px;
}

.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:hover {
  cursor: default;
  border: 1px solid #979797;
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
  background-color: white;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_processing,
.dataTables_paginate {
  color: #333;
}

.icon {
  position: absolute;
}

#selectButton {
  cursor: pointer;
}

.dark {
  background-color: #f9f9f9;
}

.dark:hover,
.light:hover {
  background-color: #f6f6f6;
}

.darkBold {
  background-color: #f1f1f1;
}

.lightBold {
  background-color: #fafafa;
}

.dark:hover > .darkBold {
  background-color: #eaeaea;
}

.light:hover > .lightBold {
  background-color: #eaeaea;
}
